<div class="container w-100 vh-100 d-flex flex-column justifyalign-items-center overflow-auto">
  <header class="w-100 d-flex justify-content-evenly align-items-center">
    <h1>{{user.username}}</h1>
    {{#if hasPosts}}
    <h2>You have {{posts.length}} post(s)</h2>
    {{/if}}
  </header>
{{#if hasPosts}}
{{#each posts as |post|}}
<div class="d-flex"></div>
  {{> posts_card}}
  <a href="/dashboard/edit/{{id}}" style="width: 50px; position: relative; top: -15%; left: 70%; z-index: 999"><button class="btn btn-warning">Edit</button></a>
{{/each}}
{{else}}
<h3>No posts yet!</h3>
{{/if}}
<a href="/dashboard/new"><button class="btn btn-success" style="position: fixed; bottom: 10px; right: 10px; font-size: 3rem">New Post</button></a>
</div>