<form id="editPostForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title" value="{{post.title}}" maxlength="30">
  </div>
  <div class="form-group">
    <label for="description">Content</label>
    <textarea class="form-control" id="description" rows="10" placeholder="Type your content here!">{{post.description}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit Edits</button>
</form>

<script src="/editPost.js"></script>